<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Daftar Penulis</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        <h1 align="center">Daftar Penulis</h1>
        
        <table border="1" align="center">
            <thead>
                <tr>
                    <td>ID</td>
                    <td>NAMA</td>
                    <td>JUDUL BUKU</td>
                </tr>
            </thead>
            <tbody>
                <tr th:each="pnls : ${daftarPenulis}">
                    <td th:text="${pnls.id}"></td>
                    <td th:text="${pnls.nama}"></td>
                    <td th:text="${pnls.judul_buku}"></td>
                    <td>
                    <a href="@{/edit(id=${pnls.id})}">
                    Ubah
                    </a>
                    </td>
                </tr>

            </tbody>
            <tfoot>
                <tr>
                    <td><a href="/tambah-data">Tambah Data</a></td>
                </tr>
            </tfoot>

        </table>
    </body>
</html>
